
/* font-family: 'Noto Sans', sans-serif;
font-family: 'Roboto Mono', monospace; */

body {
    background-color: rgb(20, 49, 16);
    font-family: 'Noto Sans', sans-serif;
    color: aliceblue;
  }
  
